<Configuration status="WARN" name="server" packages="">
    <Appenders>
        <Console name="stdout" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %p %m%n"/>
        </Console>
    <File name="fout" fileName="server.log" append="true">
        <PatternLayout>
            <Pattern>%d{yyyy-MM-dd HH:mm:ss} %-5p %m%n</Pattern>
        </PatternLayout>
    </File>
    <GuiAppender name="GuiAppender" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </GuiAppender>
</Appenders>

<!-- Enable appenders in Loggers section -->
 <Loggers>
  <!-- Use asynchronous loggers  -->
   <AsyncRoot level="info">
    <AppenderRef ref="stdout" />
    <AppenderRef ref="fout"/>
    <AppenderRef ref="GuiAppender"/>
</AsyncRoot>

</Loggers>

</Configuration>